DB_NAME = nombre_de_DB
DB_USER = usuario_de_DB
DB_PASSWORD= contraseña_de_DB
DB_HOST_MASTER = 127.0.0.1 # IP del servidor maestro de la base de datos
DB_HOST_SLAVE = 127.0.0.1 # IP del servidor esclavo de la base de datos
DB_PORT = 3306
SECRET_KEY=tu_secret_key_aqui
DEBUG = False