{% extends "base/base.html" %}
{% load static %}
{% block title %}Login{% endblock %}
{% block header %}{% endblock %}


{% block content %}
<div class="wrapper">
    <div class="form-box login">
        <h2>Login</h2>

        {% if error %}
            <p style="color:red; text-align: center;">{{ error }}</p>
        {% endif %}

        {% if mensaje %}
            <div class="alert alert-warning" style="color:red; text-align: center;">{{ mensaje }}</div>
        {% endif %}

        <form method="POST">
            {% csrf_token %} 

            <div class="input-box">
                <span class="icon"><ion-icon name="person"></ion-icon></span> 
                <input type="email" required name='CorreoElectronico' placeholder=" "> 
                <label for="CorreoElectronico">Correo</label> 
            </div>

            <div class="input-box" style="position: relative;">
                <input type="password" name='Pass' id="passwordInput" required placeholder=" ">
                <label for="Pass">Contraseña</label>
                <i class="ri-eye-off-line login__eye" id="login-eye" 
                style="position: absolute; right: 10px; top: 50%; transform: translateY(-50%); cursor: pointer; font-size: 1.2rem; color: #fff; z-index: 10;"></i>
            </div>
            
            <button type="submit" class="btn">Login</button>
        </form>
    </div>
</div>
{% endblock %}

{% block extra_scripts %}
<script src="{% static 'sysadmin/script.js' %}"></script>
{% endblock %}

